<%- include('../partials/sidebar') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />


<div id="loading"></div>


    <div class="row mt-2">
      <div class="col">
        <h4>LGPD</h4>
      </div>
    </div>
    <div class="row">
    <div class="col-sm-1">
        <a href="/lgpd/novo-documento">
            <button type="button" class="button-8" id="result">Novo documento</button>
          </a>
    </div>
    <div class="col-lg-6">
    </div>
    <div class="col-lg-5">
        <button type="button" class="button-8 mb-2" id="result" style="float: right;">
        <span class="counter-value"></span>
        resultados
        </button>
    </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procuraBtn0" onkeyup="procura(0, 'procuraBtn0')"/>
          <label for="procuraBtn0">Filial:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procuraBtn1" onkeyup="procura(1, 'procuraBtn1')"/>
          <label for="procuraBtn1">Código:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procuraBtn2" onkeyup="procura(2, 'procuraBtn2')"/>
          <label for="procuraBtn2">Tipo:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procuraBtn3" onkeyup="procura(3, 'procuraBtn3')"/>
          <label for="procuraBtn3">Condição:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procuraBtn4" onkeyup="procura(4, 'procuraBtn4')"/>
          <label for="procuraBtn4">Descrição:</label>
        </div>
      </div>
    </div>
    <div class="table-wrapper table-responsive table-striped mb-4">
      <table class="fl-table" id="myTable">
        <thead>
          <tr style="height: 25px">
            <th>ID</th>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Tamanho</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <%files.forEach ((file)=>{%>
          <tr>
            <td>
                <p><%=file.id%></p>
            </td>
            <td>
              <p>a<%=file.originalname%></p>
            </td>
            <td>
                <p><%=file.mimetype%></p>
            </td>
            <td>
                <p><%=(file.size / 1000000).toFixed(2)%> MB</p>
            </td>
            <td>
              <a href="/lgpd/visualizar/<%=file.id%>">
                <button type="button" class="button-8" id="result">Visualizar</button>
              </a>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>


<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>